<!DOCTYPE html>
<html>
<h1>Signup</h1>
<form method="POST" action="/user">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>
</html>
